body{
  margin: 0;
  text-align: center;
  font-family: Merriweather, serif;
}
h1{
  font-size: 562.5%;
  font-family: Sacramento, serif;
  margin-top: 0;
}
h2{
  font-family: Montserrat, serif;
}
h3{
  font-family: Montserrat, serif;
}
hr{

  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  width: 10%;
}

.discription{
  font-size: 200%;
  font-family: Montserrat, serif;
}


.top{
  padding-top: 100px;
  background-color: #E4F9F5
}
.middle{
  font-size: 100%;
}
.bottom{
  font-size: 100%;
}
.pro-image{
  padding-top: 20px;
  border-radius: 100%;
}
.pro{

  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
.skills{
  margin-left: auto;
  margin-right: auto;
}
.footer-link{
  font-family: Montserrat, serif;
}
